.skills {
  /* background: black; */
  /* color: papayawhip; */
  /* background-color: black; */
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: #d7f9ff;
}
