kbd {
  margin: 0px 0.1em;
  padding: 0.1em 0.6em;
  border-radius: 3px;
  border: 1px solid rgb(204, 204, 204);
  color: rgb(51, 51, 51);
  line-height: 1.4;
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2), inset 0px 0px 0px 2px #ffffff;
  background-color: rgb(247, 247, 247);
}
code {
  background: lightgray;
}

body {
  background-color: #0e1c36;
  color: #ffede1;
}

a {
  color: #afcbff;
  background-image: none;
  text-shadow: none;
}

a:hover {
  border-bottom: 2px solid #afcbff;
}

h1 {
  color: #d7f9ff;
}

header a h3 {
  color: #f9fbf2;
  background-color: none;
  margin-top: none;
}

/* .homelink {
  color: #f9fbf2;
} */

/* h3 a:hover {
  border-bottom: 2px solid red;
} */
