kbd {
  margin: 0px 0.1em;
  padding: 0.1em 0.3em;
  border-radius: 3px;
  border: 1px solid rgb(204, 204, 204);
  color: rgb(51, 51, 51);
  line-height: 1;
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2), inset 0px 0px 0px 2px #ffffff;
  background-color: rgb(247, 247, 247);
}
code {
  /* background: #ffede1; */
  color: #b298dc;
  /* color: #d7f9ff; */
}

body {
  background-color: #0e1c36;
  /* background-color: black; */
  color: #ffede1;
}

a {
  color: #afcbff;
  background-image: none;
  text-shadow: none;
}

a:hover {
  border-bottom: 2px solid #afcbff;
}

h1 {
  color: #d7f9ff;
}

header a h3 {
  color: #f9fbf2;
  background-color: none;
}

h2,
h3 {
  color: #afcbff;
}

h4 {
  color: #ffede1;
}

blockquote {
  border-left: 0.54375rem solid #afcbff;
  color: #d7f9ff;
}
